[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ICcforest"]
	path = ICcforest
	url = https://github.com/cran/ICcforest
	shallow = true
	registered = true
[submodule "LTRCforests"]
	path = LTRCforests
	url = https://github.com/weichiyao/ltrcforests
	shallow = true
	registered = true
